* {
  margin: 0;
  padding: 0;
}

body {
margin: 50px;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box{
}
.icon {
    
}
.cartype {
    margin: 20px;
}
.about-text {
margin: 20px;
}
.learnmore{
    margin: 20px;
} 

.sedan {
    background-color: #e38826;
    padding: 30px;
}
.suv {
padding: 30px;
background-color: #006970;
}
.luxury {
background-color: #004241;
padding: 30px;
}