* {
  margin: 0;
  padding: 0;
}

body {

  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box{
}

.sedan {
    background-color: antiquewhite;
    padding: 40px;
}
.suv {
padding: 40px;
}
.luxury {
padding: 40px;
}