* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.container {
  display: flex;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 70px 25px;
  align-items: flex-start;
}
.icon {
  margin-top: -25px;
  margin-bottom: 20px;
}

.cartype {
  margin: 20px 0;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}
.about-text {
  margin: 20px 0px;
  margin-bottom: 60px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffffbf;
}
.lm1 {
  margin-top: auto;
  background-color: white;
  padding: 10px;
  width: 120px;
  border-radius: 50px;
  text-align: center;
  color: #e38826;
  margin-bottom: -10px;
}
.lm2 {
  margin-top: auto;
  background-color: white;
  padding: 10px;
  width: 120px;
  border-radius: 50px;
  text-align: center;
  color: #006970;
   margin-bottom: -10px;
}
.lm3 {
  margin-top: auto;
  background-color: white;
  padding: 10px;
  width: 120px;
  border-radius: 50px;
  text-align: center;
  color: #004241;
   margin-bottom: -10px;
}

.sedan {
  background-color: #e38826;
}
.suv {
  background-color: #006970;
}
.luxury {
  background-color: #004241;
}
